MONGO_URI=mongodb+srv://<username>:<password>@<cluster-name>.mongodb.net/<database-name>?retryWrites=true&w=majority
JWT_SECRET=YOUR_VERY_STRONG_AND_LONG_JWT_SECRET
JWT_REFRESH_SECRET=YOUR_VERY_STRONG_AND_LONG_JWT_REFRESH_SECRET
PORT=5000
CLIENT_URL=http://localhost:5173
